body {
  margin: 0;
  
}


#page {
  --unit: 90px;
  --font-size-md: 9.5pt;
  --font-size-lg: 12pt;
  
  max-width: calc(8.5 * var(--unit));
/*   height: calc(11 * var(--unit)); */
  border: 1px solid black;
  padding: 1em;
  box-sizing: border-box;
  
  display: grid;
  grid-template-areas:
    "top top"
    "left right";
  grid-template-rows: 0fr 1fr;
  grid-template-columns: 5fr 2fr;
  font-family: Helvetica, sans-serif;
  font-size: var(--font-size-md);
  grid-column-gap: 1em;
  margin: 0 auto;
  
  line-height: 1.4em;
  font-kerning: normal;
/*   text-align: justify; */
}

@media only screen {
/*   #page {
    transform: scale(1.5);
    transform-origin: top center;
    
  } */
}

@media screen and (max-width: 1024px) {
  #page {
    grid-template-areas:
    "top"
    "left"
    "right";
    grid-template-columns: 1fr;
  }
  
}

@media print {
/*   --unit: 72px; */

  #page {
    border: none;
/*     width: 100%; */
  }
  
  @page {
    margin: 5cm;
  }
  
}

#top {
  grid-area: top;
}
#left {
  grid-area: left;
}
#right {
  grid-area: right;
}

h1, h2, h3, h4, p, ul, li {
  padding: 0em;
  margin: 0.5em 0;
  font-weight: 400;
}

span {
  margin: 0em;
}
span:nth-of-type(2) {
  font-style: italic;
}

h1{
  margin-top: 0em;
  font-size: var(--font-size-lg);
  font-weight: bold;
}

h2 {
  font-size: var(--font-size-lg);; 
  font-weight: bold;
  margin-top: 1em;
}

h3 {
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-md);
  padding: 0.2em;
}
h3:not(:first-of-type) {
  margin-top: 1em;
}

h4 {
  text-decoration: underline;
}

li {
  margin: 0em;
  margin-left: 1em;
  padding: 0em 0em;
}