
#page {
  --unit: 8vw;
  width: calc(8.5 * var(--unit));
  height: calc(11 * var(--unit));
  border: 1px solid black;
  padding: 1em;
  box-sizing: border-box;
  
  display: grid;
  grid-template-areas:
    "top top"
    "left right";
  grid-template-rows: 0fr 1fr;
  grid-template-columns: 3fr 1fr;
}

#top {
  grid-area: top;
}
#left {
  grid-area: left;
}
#right {
  grid-area: right;
}

h3 {
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 0em 0.5em;
}