
#page {
  --unit: 105px;
  max-width: calc(8.5 * var(--unit));
  height: calc(11 * var(--unit));
  border: 1px solid black;
  padding: 1em;
  box-sizing: border-box;
  
  display: grid;
  grid-template-areas:
    "top top"
    "left right";
  grid-template-rows: 0fr 1fr;
  grid-template-columns: 5fr 2fr;
  font-family: Helvetica, sans-serif;
  font-size: 11pt;
  grid-column-gap: 1em;
  margin: 0 auto;

}

@media screen and (max-width: 1024px) {
  #page {
    grid-template-areas:
    "top"
    "left"
    "right";
    grid-template-columns: 1fr;
  }
  
}

#top {
  grid-area: top;
}
#left {
  grid-area: left;
}
#right {
  grid-area: right;
}

h1, h2, h3, h4, p, ul, li {
  padding: 0em;
  margin: 0.5em 0;
  font-weight: 400;
}

span {
  margin: 0em;
}

h1{
  margin-top: 0em;
  font-size: 14pt;
  font-weight: bold;
}

h2 {
 font-size: 14pt; 
  font-weight: bold;
}

h3 {
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-between;
  font-size: 11pt;
  padding: 0.2em;
}

h4 {
  text-decoration: underline;
}

li {
  margin: 0em;
  margin-left: 1em;
  padding: 0em 0em;
}